#head,#footer{
    background-color: #6A994E;
    width: 100%;
    height: 7%;
}
#body{
    height: 86%;
    width: 100%;
}
#footer{

}
#corp{
    width: 100%;
    height: 100vh;
    background-color: #FEFAE0;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;

}
body{
    margin: 0;
    
}